*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/gradlew
/captures
*/wrapper
.externalNativeBuild
.cxx
/.idea/caches/build_file_checksums.ser
*/build
.lock
*.bin
*.bat
*.pro
*.class
library/build
.externalNativeBuild
/.idea
/KittyWorld-Android.iml
/app/app.iml
/app/build
*.properties




